# Backend API manzili. Backend tayyor bo'lgach shu yer o'zgaradi.
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# MSW mock API. Backend tayyor bo'lgach `false` qilinadi.
NEXT_PUBLIC_ENABLE_MOCKS=true
